<div class="main-form">
  <h1 class="main-form__title">Add an Event</h1>

  <div class="main-form__form">
    <form class="form">
      <div class="form__group">
        <label class="form__label">Name</label>
        <Input @value={{model.name}} class="form__input" />
      </div>

      <div class="form__group">
        <label class="form__label">Description</label>
        <Textarea @value={{model.description}} class="form__textarea" />
      </div>

      <div class="form__group">
        <label class="form__label">Location</label>
        <Input @value={{model.location}} class="form__input" />
      </div>

      <div class="form__group">
        <label class="form__label">Event date</label>
        <Input @value={{model.eventDate}} class="form__input" @type="date" />
      </div>

      <div class="form__group">
        <label class="form__label">Start time</label>
        <Input @value={{model.startTime}} class="form__input" @type="time" />
      </div>

      <div class="form__group">
        <label class="form__label">End time</label>
        <Input @value={{model.endTime}} class="form__input" @type="time" />
      </div>

      <button type="submit" class="form__btn" onclick={{action "save"}}>Create Event</button>
    </form>
  </div>
</div>
